@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #03040a;
}

/* Hide default cursor for desktop devices */
@media (pointer: fine) {
  html,
  body {
    cursor: none;
  }
  a,
  button {
    cursor: pointer;
  }
}
